#hat {
  padding-top: 50px;
  margin: auto;
  width: 300px;
  position: relative;
  z-index: 1;
}

#glasses {
  margin: auto;
  width: 300px;
  position: relative;
  z-index: 0;
  left: 60px;
  top: 5px;

}

#octopus {
  margin: auto;
  width: 300px;
  position: relative;
  z-index: -1;
  bottom: 155px;
  left: 17px;
}